body {
  background-color: teal;
  display: flex;
  justify-content: center;
}

.timer {
  text-align: center;
  width: 300px;
  font-size: 3rem;
  font-weight: 900;
  border: 2px solid black;
  border-width: 15px;
  border-radius: 10px;  
  }